@charset "utf-8";
/* CSS Geral BASIC */

/* Nome das Fontes:
font-family: 'cabinregular';
font-family: 'cabinbold';
font-family: 'bebasregular';
font-family: 'pt_sansbold';
font-family: 'pt_sansregular';
font-family: 'yanone_kaffeesatzbold';
font-family: 'yanone_kaffeesatzregular';
font-family: 'yanone_kaffeesatzlight';
font-family: 'MyriadPro-Regular';
font-family: 'news701_btbold';
font-family: 'Signika', sans-serif;



font-family:"Lato Black";
font-family: 'Lato', sans-serif;

*/

@import url('fonts.css');



/* Reset */
* {margin:0; padding:0; text-decoration:none;}
body, img, p, h1, h2, h3, h4, h5, h6, ul, ol, li, select, input {margin:0 auto; padding:0; list-style:none; outline:none; border:none; }
/* End Reset */


.top2 { margin-top:2px; }
.top5 { margin-top:5px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top18 { margin-top:18px; }
.top20 { margin-top:20px; }
.top25 { margin-top:25px !important;; }
.top30 { margin-top:30px !important;; }
.top35 { margin-top:35px !important;; }
.top40 { margin-top:40px !important; }
.top45 { margin-top:45px; }
.top50 { margin-top:50px; }
.top55 { margin-top:55px; }
.top60 { margin-top:60px; }
.top65 { margin-top:65px; }
.top70 { margin-top:70px; }
.top75 { margin-top:75px; }
.top80 { margin-top:80px; }
.top85 { margin-top:85px; }
.top90 { margin-top:90px; }
.top95 { margin-top:95px; }
.top100 { margin-top:100px; }
.top105 { margin-top:105px; }
.top115 { margin-top:115px; }
.top120 { margin-top:120px; }
.top150 { margin-top:150px; }
.top170 { margin-top:170px; }
.top190 { margin-top:190px; }
.top195 { margin-top:195px; }
.top200 { margin-top:200px; }
.top210 { margin-top:210px; }
.top220 { margin-top:220px; }
.top240 { margin-top:240px; }
.top270 { margin-top:270px; }
.top300 { margin-top:300px; }
.top320 { margin-top:320px; }
.top330 { margin-top:330px; }
.top350 { margin-top:350px; }
.top370 { margin-top:370px; }
.top395 { margin-top:395px; }
.top400 { margin-top:400px; }
.top440 { margin-top:440px; }
.top560 { margin-top:560px; }
.top590 { margin-top:590px; }

.bottom5 { margin-bottom:5px; }
.bottom10 { margin-bottom:10px; }
.bottom15 { margin-bottom:15px; }
.bottom20 { margin-bottom:20px; }
.bottom25 { margin-bottom:25px; }
.bottom30 { margin-bottom:30px; }
.bottom35 { margin-bottom:35px; }
.bottom40 { margin-bottom:40px; }
.bottom45 { margin-bottom:45px; }
.bottom50 { margin-bottom:50px; }
.bottom55 { margin-bottom:55px; }
.bottom60 { margin-bottom:60px; }
.bottom60 { margin-bottom:60px; }
.bottom65 { margin-bottom:65px; }
.bottom70 { margin-bottom:70px; }
.bottom75 { margin-bottom:75px; }
.bottom80 { margin-bottom:80px; }
.bottom90 { margin-bottom:90px; }
.bottom100 { margin-bottom:100px; }
.bottom120 { margin-bottom:120px; }
.bottom135 { margin-bottom:135px; }
.bottom180 { margin-bottom:180px; }
.bottom200 { margin-bottom:200px; }
.bottom210 { margin-bottom:210px; }
.bottom280 { margin-bottom:280px; }


.left5 { margin-left:5px; }
.left10 { margin-left:10px; }
.left15 { margin-left:15px; }
.left20 { margin-left:20px; }
.left25 { margin-left:25px; }
.left30 { margin-left:30px; }
.left35 { margin-left:35px; }
.left40 { margin-left:40px; }
.left45 { margin-left:45px; }
.left50 { margin-left:50px; }
.left55 { margin-left:55px; }
.left60 { margin-left:60px; }
.left65 { margin-left:65px; }
.left70 { margin-left:70px; }
.left75 { margin-left:75px; }
.left80 { margin-left:80px; }
.left81 { margin-left:81px; }
.left130 { margin-left:130px; }
.left210 { margin-left:210px; }
.left270 { margin-left:270px; }

.right5 { margin-right:5px; }
.right10 { margin-right:10px; }
.right15 { margin-right:15px; }
.right20 { margin-right:20px; }
.right22 { margin-right:22px; }
.right25 { margin-right:25px; }
.right30 { margin-right:30px; }
.right35 { margin-right:35px; }
.right40 { margin-right:40px; }
.right45 { margin-right:45px; }
.right50 { margin-right:50px; }
.right55 { margin-right:55px; }
.right60 { margin-right:60px; }
.right65 { margin-right:65px; }
.right70 { margin-right:70px; }
.right75 { margin-right:75px; }
.right80 { margin-right:80px; }
.right90 { margin-right:90px; }
.right100 { margin-right:100px; }
.right130 { margin-right:130px; }
.right210 { margin-right:210px; }

.pt10 { padding-top:10px; }
.pt15 { padding-top:15px; }
.pt20 { padding-top:20px; }
.pt25 { padding-top:25px; }
.pt30 { padding-top:30px; }
.pt40 { padding-top:40px; }
.pt45 { padding-top:45px; }
.pt50 { padding-top:50px; }
.pt60 { padding-top:60px; }
.pt80 { padding-top:80px; }
.pt100 { padding-top:100px; }
.pt300 { padding-top:300px; }

.pl15 { padding-left:15px; }
.pl20 { padding-left:20px; }
.pl30 { padding-left:30px; }
.pl40 { padding-left:40px; }
.pl45 { padding-left:45px; }
.pl50 { padding-left:50px; }
.pl60 { padding-left:60px; }
.pl80 { padding-left:80px; }
.pl100 { padding-left:100px; }
.pl300 { padding-left:300px; }

.pr0 { padding-right:0px; }
.pr15 { padding-right:15px; }
.pr20 { padding-right:20px; }
.pr30 { padding-right:30px; }
.pr40 { padding-right:40px; }
.pr45 { padding-right:45px; }
.pr50 { padding-right:50px; }
.pr60 { padding-right:60px; }
.pr80 { padding-right:80px; }
.pr100 { padding-right:100px; }
.pr300 { padding-right:300px; }


.pb10 { padding-bottom:10px; }
.pb15 { padding-bottom:15px; }
.pb20 { padding-bottom:20px; }
.pb30 { padding-bottom:30px; }
.pb40 { padding-bottom:40px !important; }
.pb50 { padding-bottom:50px; }
.pb60 { padding-bottom:60px; }
.pb80 { padding-bottom:80px; }
.pb100 { padding-bottom:100px; }
.pb200 { padding-bottom:200px; }
.pb280 { padding-bottom:280px; }
.pb300 { padding-bottom:300px; }

.pg0{  padding: 0px;}

.pg10{  padding: 10px;}
.pg20{  padding: 20px;}


.container{
width: 1170px !important;
}

.padding0{
padding: 0px !important;
}


.input100{
width: 100% !important;
}


.lato-black{
font-family:"Lato Black";
}

.fontMyriad{
font-family: 'MyriadPro-Regular';
}

.relative{
position: relative;
}


body{
font-weight: 400;
font-family: 'Lato', sans-serif;

}



h1{


}

h1 span{

}


h2{

}

h2 span{

}

h3 {


}

h3 span{

}


h4{

}


h4 span{

}


h5{

}

h5 span{

}

h6 {
/*font-weight  : 300;
color          : #000;
font-size      : 30px;
text-decoration: underline: ;*/
}


h6 span{

}


p{
font-weight: 300;
font-size  : 20px;
color      : #000;
text-align : justify;
}

a:hover{
text-decoration: none !important;
}

.relativo{
position: relative;
}

input,
select,
textarea{
border       : 1px solid #dcdcdc ;
min-height   : 40px;
color        :#000;
border-radius: 0px;
}


::-webkit-input-placeholder {
color      : #283239 !important;
font-weight: 400;
font-size  : 12px;
}

:-moz-placeholder {
color     : #283239 !important;
font-weight: 400;
font-size  : 12px;
}

::-moz-placeholder {
color: #283239 !important;
font-weight: 400;
font-size: 12px;
}

:-ms-input-placeholder {
color: #283239 !important;
font-weight: 100;
font-size: 12px;
}


/**
============================================
        rodape
============================================
*/

.rodape{
background: #cecece;
}

.rodape-preto{
background:#000;
}

.rodape-preto h5{
font-size:20px;
color: #fff;
font-weight: 300;
}


.menu-rodape li a {
  color: #000;
  font-size : 20px;
  font-weight: 300;
  margin-right: 35px;
}

.menu-rodape li a:hover, .menu-rodape li a.active{
font-weight: 400;
}


.menu-rodape {
list-style: none;
padding: 0px;
}

.barra_branca {
border-bottom: 1px solid #fff;
padding-bottom: 44px;
}

.menu-rodape li {
float: left;
}


/**
============================================
        rodape
============================================
*/



/**
============================================
        topo
============================================
*/

.logo{

}





/**
============================================
        topo
============================================
*/



/**
============================================
        HOME
============================================
*/


/*==================================================
* Effect 2
* ===============================================*/
.effect2
{
position: relative;
}
.effect2:before, .effect2:after
{
z-index   : -1;
position  : absolute;
content   : "";
bottom    : 15px;
left      : 10px;
width     : 50%;
top       : 80%;
max-width :300px;
background: #777;
box-shadow: 0 15px 10px #777;
transform : rotate(-3deg);
}
.effect2:after
{
transform: rotate(3deg);
right: 10px;
left : auto;
}
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* ------------------------------- BANNER  ------------------------------- */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
#container_banner {
width   :100%;
height  :443px;
margin  :0px auto;
overflow:hidden;
position: relative;
}

#content_slider {
width      :1920px;
height     :443px;
overflow   :hidden;
position   :absolute;
margin-left:-960px;
top        :0px;
left       :50%;
}

.subir_banner{
margin-top: -11px;
}


#content-slider-1 .rsTabs {
width   : 90px;
height  : 27px;
z-index : 9999;
position: absolute;
right   : 885px;
top     :405px;
}

#content-slider-1 .rsNavItem {
background   : #d8d8d8;
width        : 20px;
opacity      : 0.5;
border       : 2px solid #000;
height       : 20px;
float        : left;
margin-right : 10px;
cursor       : pointer;
border-radius: 50%;
}

#content-slider-1 .rsNavSelected {
 opacity  : 1;
background: #d8d8d8;
}


/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* ------------------------------- BANNER  ---------------------------- */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */


.media-left, .media-right, .media-body {
  vertical-align: middle;
}


/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* -------------------------------PRODUTOS  ---------------------------- */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */



/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* -------------------------------PRODUTOS  ---------------------------- */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */


/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* -------------------------------SERVICOS  ---------------------------- */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
